
body {
    background-color: #ddd;
}

#page-wrapper {
    margin-top: 10px;
}

.panel-messages {
	background-color: #337ab7;
	color: #eee;
	border: solid 1px #337ab7;
}

.panel-calls {
	background-color: #337ab7;
	color: #eee;
	border: solid 1px #337ab7;
}

.panel-weather {
	background-color: #999;
	color: #eee;
	border: solid 1px #777;
}

.incoming-alert {
	background-color: red;
}

.huge {
    font-size: 40px;
    line-height: normal;
}