
body {
    background-color: #ddd;
}

.centered {
    /* Must set width and height */
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    text-align: center;
}

.login {
    width: 600px;
    height: 400px;
}

.abcRioButton.abcRioButtonBlue { margin: 0 auto;}

#page-wrapper {
    margin-top: 10px;
}

.panel-messages {
	background-color: #337ab7;
	color: #eee;
	border: solid 1px #337ab7;
}

.panel-calls {
	background-color: #337ab7;
	color: #eee;
	border: solid 1px #337ab7;
}

.panel-weather {
	background-color: #999;
	color: #eee;
	border: solid 1px #777;
}

.huge {
    font-size: 40px;
    line-height: normal;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}